  <!-- Footer Start -->
  <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
      <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
        <h5 class="text-secondary text-uppercase mb-4">La Casa de la Sabiduría</h5>
        <p class="mb-4">
		En La Casa de la Sabiduría, nos apasiona el saber. Ponemos a tu disposición títulos de calidad, un servicio dedicado y la atención personalizada que buscas para nutrir tu intelecto. Gracias por permitirnos ser el refugio donde tus ideas y tu curiosidad siguen creciendo.
		</p>
        <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Barcelona, Anzoátegui</p>
        <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
        <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+5800000000</p>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="row">
          <div class="col-md-4 mb-5">
            <h5 class="text-secondary text-uppercase mb-4">Mapa rápido</h5>
            <div class="d-flex flex-column justify-content-start">
              <a class="text-secondary mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Inicio</a>
              <!--<a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop
                                Detail</a>-->
              <a class="text-secondary mb-2" href="/carrito"><i class="fa fa-angle-right mr-2"></i>Carrito
              </a>
              <a class="text-secondary" href="/contacto"><i class="fa fa-angle-right mr-2"></i>Contacto</a>
            </div>
          </div>
          <div class="col-md-4 mb-5">
            <h5 class="text-secondary text-uppercase mb-4">Mi cuenta</h5>
            <div class="d-flex flex-column justify-content-start">
              <a class="text-secondary mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Inicio</a>
              <a class="text-secondary mb-2" href="/login.html"><i class="fa fa-angle-right mr-2"></i>Login</a>
              <a class="text-secondary mb-2" href="registrarse.html"><i class="fa fa-angle-right mr-2"></i>Registrarse</a>

            </div>
          </div>
          <div class="col-md-4 mb-5">
            <h5 class="text-secondary text-uppercase mb-4">¡Te esperamos!</h5>
            <p>¿Necesitas ayuda o tienes alguna pregunta? Estamos aquí para asistirte.</p>
            <!--<form action="">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Escribe tu correo">
                <div class="input-group-append">
                  <button class="btn btn-primary">Avísame</button>
                </div>
              </div>
            </form>-->
            <h6 class="text-secondary text-uppercase mt-4 mb-3">Síguenos</h6>
            <div class="d-flex">
              <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
              <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
              <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
      <div class="col-md-6 px-xl-0">
        <p class="mb-md-0 text-center text-md-left text-secondary">
          &copy; <a class="text-primary" href="#">La Casa de la Sabiduría</a>. Todos los derechos reservados.
          Desarrollado
          Por
          <a class="text-primary" href="">Estudiantes de la udo</a>
        </p>
      </div>
      <!--
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="img/payments.png" alt="">
            </div>
        -->
    </div>
  </div>
  <!-- Footer End -->